---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import { getAllTags, sortMDByDate } from "@/util";
import type { MDXInstance, Page, Post } from "@/types";

export async function getStaticPaths({ paginate }) {
	const allPosts = await Astro.glob<Post>("../../blog/*.mdx");
	const allPostsByDate = sortMDByDate(allPosts);
	const allTags = getAllTags(allPostsByDate);

	return allTags.map((tag) => {
		const filterPosts = allPostsByDate.filter((post) =>
			post.frontmatter.tags?.includes(tag)
		);
		return paginate(filterPosts, {
			params: { tag },
			pageSize: 10,
		});
	});
}

export interface Props {
	page: Page<MDXInstance<Post>>;
}

const { page } = Astro.props as Props;
const { tag } = Astro.params;

const meta = {
	title: `${tag}`,
	description: `Todos los artículos relacionados con ${tag}`,
};

const metatag =
	tag === "conferencias"
		? {
				title: "Conferencias de Oscar Barajas",
				description:
					"Conferencias, Workshops, Charlas y participaciones de Oscar Barajas Tavares.",
		  }
		: meta;
---

<PageLayout meta={metatag}>
	{
		tag === "conferencias" ? (
			<div class="prose prose-sm prose-cactus mt-4 mb-8 max-w-none xl:col-span-2">
				<h1>Conferencias de Oscar Barajas Tavares</h1>
				<p>
					Las ultimas Conferencias, Workshops, Charlas y participaciones de
					Oscar Barajas Tavares.
				</p>
			</div>
		) : (
			<h1 class="title mb-6 flex items-center">
				Todos los artículos relacionados con: {tag}
			</h1>
		)
	}
	<section aria-label="Blog post list">
		<ul class="text-left space-y-8">
			{
				page.data.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" withDesc />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
